body {
  font-family: Arial;
  text-align: center;
  background: #f8f9fa;
}

input, select, textarea {
  width: 250px;
  margin: 5px;
  padding: 5px;
}
nav {
  margin-bottom: 15px;
}
nav a {
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
}
nav a:hover {
  text-decoration: underline;
}

button {
  padding: 8px 15px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
